@charset "UTF-8";
@keyframes strobeText {
  0% {
    color: #ffffff;
  }
  10% {
    color: #00c3ef;
  }
  20% {
    color: #0070f6;
  }
  30% {
    color: #1ad688;
  }
  40% {
    color: #ed131e;
  }
  50% {
    color: #ffc600;
  }
  60% {
    color: #ff7500;
  }
  70% {
    color: #990fff;
  }
  80% {
    color: #ff76d5;
  }
  90% {
    color: #c40172;
  }
  100% {
    color: #ffffff;
  }
}
@keyframes blinkingText {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  41% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  71% {
    opacity: 1;
  }
}
.reveal a {
  color: yellow;
}
.reveal h1,
.reveal h2,
.reveal h3 {
  text-transform: none;
}
.reveal h2.shadowed {
  text-shadow: 1px 1px 0 black, -1px -1px 0 black, 4px 4px 0 rgba(0, 0, 0, 0.5);
}
.reveal h1.black,
.reveal h2.black,
.reveal h3.black,
.reveal h4.black {
  color: #212121;
  text-shadow: 2px 2px 2px white, 4px 4px 2px rgba(0, 0, 0, 0.5);
}
.reveal h1.dark-blue,
.reveal h2.dark-blue,
.reveal h3.dark-blue,
.reveal h4.dark-blue {
  color: #221c35;
  text-shadow: 2px 2px 2px white, 4px 4px 6px rgba(0, 0, 0, 0.5);
}
.reveal section img {
  margin: 0;
  background: transparent;
  border: none;
  box-shadow: none;
  max-height: 65vh;
}
.reveal img {
  background: none;
}
.reveal a:hover img {
  background: transparent;
  box-shadow: none;
}
.reveal .overflow-scroll {
  overflow-y: auto;
  max-height: 50vh;
}
.reveal sub {
  font-size: 70%;
}
.reveal .shadowed {
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5), -1px 1px 1px rgba(0, 0, 0, 0.95);
}
.reveal .black {
  color: #212121;
}
.reveal .over-photo {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  padding: 1.5rem;
}
.reveal .over-photo.darker {
  background: rgba(0, 0, 0, 0.75);
}
.reveal .over-photo.darker a {
  color: #ffc600;
}
.reveal .over-photo.darker a:hover, .reveal .over-photo.darker a:focus {
  color: yellow;
}
.reveal .grid {
  display: grid;
  grid-gap: 4vh;
}
.reveal .grid img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.reveal .grid[columns="2"] {
  grid-template-columns: repeat(2, 1fr);
}
.reveal .grid[columns="3"] {
  grid-template-columns: repeat(3, 1fr);
}
.reveal .grid[columns="4"] {
  grid-template-columns: repeat(4, 1fr);
}
.reveal .grid .box {
  display: flex;
  align-items: center;
}
.reveal table {
  width: 100%;
}
.reveal table caption {
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.reveal table th {
  font-size: 80%;
  font-weight: 700;
}
.reveal table th.small,
.reveal table td.small,
.reveal table tr.small td {
  font-size: 60%;
  vertical-align: middle;
  padding-bottom: 0.5em;
}
.reveal table tr.highlight td {
  background: white;
  color: black;
}
.reveal table td {
  vertical-align: middle;
}
.reveal table .no-line {
  border: none;
}
.reveal table svg,
.reveal table svg * {
  fill: currentColor;
}
.reveal table svg[role=img] {
  width: 1.5em;
  height: 1.5em;
}
.reveal .blink {
  animation: blinkingText 0.5s infinite;
}
.reveal .strobe {
  animation-name: strobeText;
  animation-duration: 2.25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.reveal blockquote {
  text-align: left;
  padding-left: 1.5em;
  padding-right: 1.25em;
  border-left: 0.2em solid #ccc;
  font-size: 2rem;
  padding-bottom: 0.5em;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.reveal blockquote:before {
  content: "“";
  font-size: 300%;
  line-height: 30%;
  position: absolute;
  top: 0.4em;
  left: 0;
  font-family: sans-serif;
}
.reveal blockquote cite {
  text-align: left;
  display: block;
}
.reveal blockquote cite:before {
  content: "—";
  padding-left: 2em;
  padding-right: 0.5em;
}
.reveal pre.huge {
  font-size: clamp(2rem, 3.25vw, 44px);
}
.reveal kbd {
  background-color: #eee;
  border-radius: 0.15em;
  border: 0.05em solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  line-height: 1;
  padding: 0.25em 0.5em;
  white-space: nowrap;
  text-shadow: none;
}
.reveal .source {
  position: fixed;
  bottom: 15px;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(4px);
  font-size: 18px;
  font-family: monospace;
  color: white;
  font-style: normal;
  padding: 0.75em 1.25em;
  transform: translate(-14px, 12px);
}
.reveal .source a {
  color: yellow;
}
.reveal .source a:hover {
  text-decoration: underline;
}
.reveal .source {
  opacity: 0;
  transition: opacity 0.5s linear;
}
.reveal section.present > .source {
  opacity: 1;
  transition-delay: 1s;
}
.reveal .single-screenshot img {
  max-height: 42vh;
  margin-bottom: 10px;
}
.reveal .single-screenshot figcaption span {
  font-size: 60%;
  padding-left: 1em;
}
.reveal .screenshot-grid figure {
  text-align: center;
  width: 100%;
}
.reveal .screenshot-grid img {
  max-height: 20vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
.reveal .screenshot-grid figcaption {
  font-size: 80%;
}
.reveal .screenshot-grid figcaption span {
  font-size: 70%;
  padding-left: 1em;
}
.reveal pre code {
  max-height: 60dvh;
}
.reveal iframe.resizable {
  width: 1280px;
  max-width: 70dvw;
  resize: both;
  overflow: auto;
  box-shadow: 6px 6px 6px black;
}

.example {
  height: 60vh;
  overflow-y: scroll;
  position: relative;
}
.example .inner {
  background: white;
  height: 300vh;
}
.example .position-fixed {
  background: red;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
}

.iframe-holder {
  display: flex;
  margin: 0;
  padding: 0;
  resize: both;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 16/9;
}
.iframe-holder .codepen {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  border: 0;
  max-height: 100%;
  max-width: 100%;
}
.iframe-holder .local-example {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  border: 0;
  max-height: 100%;
  max-width: 100%;
}

.form-example {
  display: grid;
  gap: 10px;
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;
}
.form-example fieldset {
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0.25em;
}
.form-example fieldset label {
  display: block;
  font-size: 0.75em;
  text-transform: uppercase;
}
.form-example fieldset textarea,
.form-example fieldset select,
.form-example fieldset input {
  font-size: 0.75em;
  max-width: 100%;
  padding: 0.5em 1em;
  min-width: 7em;
}
.form-example.field-sizing fieldset textarea,
.form-example.field-sizing fieldset select,
.form-example.field-sizing fieldset input {
  field-sizing: content;
  max-width: 740px;
}

.slack-message {
  display: inline-grid;
  grid-template-columns: 5em 1fr;
  column-gap: 1em;
  background: white;
  color: #212121;
  padding: 20px;
  font-size: 80%;
  font-family: "Lato", sans-serif;
  border-radius: 0.25em;
  box-shadow: 0.25em 0.25em 0.25em black;
}
.slack-message .avatar-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slack-message img {
  border-radius: 1em;
}
.slack-message .text {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-content: initial;
  justify-content: center;
  gap: 0.5em;
}
.slack-message strong {
  font-weight: 900;
}
.slack-message .name-and-date {
  display: flex;
  gap: 1em;
}
.slack-message .name-and-date time {
  color: #999;
}
.slack-message p {
  text-shadow: none;
  font-weight: 500;
  margin: unset;
}

.grid.css-experts {
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
}
.grid.css-experts .box {
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.grid.css-experts figcaption {
  font-size: 21px;
}
.grid.css-experts figcaption .name {
  font-weight: bold;
}
.grid.css-experts figcaption .company {
  font-style: italic;
}

.css-export-lemon .box {
  opacity: 0;
  scale: 0.1;
  background-color: #222;
  max-width: 260px;
  margin-left: auto;
  margin-right: auto;
  transform: translate(0, 0);
  transition: opacity 1s linear 0s, scale 1.5s cubic-bezier(0.22, 1, 0.36, 1) 0s, transform 1.5s ease-out 1.85s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.75), 0 1.5px 0 black, 0 0 0 8px rgba(0, 0, 0, 0.15);
}
.css-export-lemon figure {
  padding: 0;
}
.css-export-lemon figure img {
  width: 100%;
  max-width: unset;
}
.css-export-lemon figcaption {
  background-color: #222;
  font-size: 21px;
}
.css-export-lemon figcaption .name {
  font-weight: bold;
}
.css-export-lemon figcaption .company {
  font-style: italic;
}
.css-export-lemon.current-fragment .box {
  opacity: 1;
  scale: 1;
}
