.javascripts

  script(src="reveal/reveal.js")
  script(src="reveal/plugin/notes/notes.js")
  script(src="reveal/plugin/markdown/markdown.js")
  script(src="reveal/plugin/highlight/highlight.js")
  script(src="reveal/plugin/zoom/zoom.js")
  script(src="js/reveal-config.js?updated="+lastUpdated)