.javascripts

  script(src="node_modules/reveal.js/dist/reveal.js")
  script(src="node_modules/reveal.js/plugin/notes/notes.js")
  script(src="node_modules/reveal.js/plugin/markdown/markdown.js")
  script(src="node_modules/reveal.js/plugin/highlight/highlight.js")
  script(src="node_modules/reveal.js/plugin/zoom/zoom.js")
  script(src="js/reveal-config.js?updated="+lastUpdated)