- const exampleNum = 2

doctype html
html
  head
    include partials/_head.pug
    title Container Queries Demo #{exampleNum}
    link(rel="stylesheet" href="./css/container-queries.css")
  body
    #app(example-number=exampleNum)
      main
        section
          .grid(columns="3")
            .box 
              .inner Content
            .box
              .inner Content
            .box
              .inner Content
        section
          .grid(columns="2")
            .box
              .inner Content
            .box
              .inner Content