- const exampleNum = 5

doctype html
html
  head
    include partials/_head.pug
    title :has() Demo #{exampleNum}
    link(rel="stylesheet" href="./css/has.css")
  body
    #app(example-number=exampleNum)
      main
        section
          .grid(columns="3" four="grid")
            .box
              .content Box #1
            .box
              .content Box #2
            .box
              .content Box #3
            .box
              .content Box #4

        button#GridOrFlex(current="grid") Flex Center
      
      script(src="./js/has.js")