- const exampleNum = 2

doctype html
html
  head
    include partials/_head.pug
    title :has() Demo #{exampleNum}
    link(rel="stylesheet" href="./css/has.css")
  body
    #app(example-number=exampleNum)
      main
        section
          form
            fieldset
              label What is your name?
              input(type="text" required)

            fieldset
              label What is your quest?
              textarea(placeholder="")
            
            fieldset
              label What is your favorite color?
              select(required)
                option
                option Blue
                option Red
                option Yellow
                option Blue! No, wait yellow! AAAAHHHHHHHHH!!!

            .button-holder 
              button(type="submit") Grail Please!