- const exampleNum = 4

doctype html
html
  head
    include partials/_head.pug
    title :has() Demo #{exampleNum}
    link(rel="stylesheet" href="./css/has.css")
  body
    #app(example-number=exampleNum)
      main
        section
          .grid(columns="3")
            .box
              .content Box #1
            .box
              .content Box #2
            .box
              .content Box #3
        
        button#AddBox Add A Box

      script(src="./js/has.js")