- const exampleNum = 1

doctype html
html
  head
    include partials/_head.pug
    title Animation Timeline Demo #{exampleNum}
    link(rel="stylesheet" href="./css/scroll-animation.css")
  body
    #app(example-number=exampleNum)
      main
        section
          h1 Here's Some Stock Photos!
          ul
            li
              img(src="https://picsum.photos/400/400?which=1")
            li
              img(src="https://picsum.photos/400/400?which=2")
            li
              img(src="https://picsum.photos/400/400?which=3")
            li
              img(src="https://picsum.photos/400/400?which=4")
            li
              img(src="https://picsum.photos/400/400?which=5")
            li
              img(src="https://picsum.photos/400/400?which=6")
            li
              img(src="https://picsum.photos/400/400?which=7")
            li
              img(src="https://picsum.photos/400/400?which=8")
            li
              img(src="https://picsum.photos/400/400?which=9")
            li
              img(src="https://picsum.photos/400/400?which=10")
            li
              img(src="https://picsum.photos/400/400?which=11")
            li
              img(src="https://picsum.photos/400/400?which=12")
            li
              img(src="https://picsum.photos/400/400?which=13")
            li
              img(src="https://picsum.photos/400/400?which=14")
            li
              img(src="https://picsum.photos/400/400?which=15")
            li
              img(src="https://picsum.photos/400/400?which=16")
            
          if exampleNum > 1
            h2 No javascript needed!