- const exampleNum = 1

doctype html
html
  head
    include partials/_head.pug
    title @starting-style Demo #{exampleNum}
    link(rel="stylesheet" href="./css/starting-style.css")
  body
    #app(example-number=exampleNum)
      header
        button#ToggleHamburgerMenu(aria-expanded="false" aria-controls="#HamurgerMenu" onclick="toggleMenu()") 🍔
      main
        .inside 
          h1 Page Content goes here

      aside.hamburger-menu#HamburgerMenu.visible
        nav
          ul
            li 
              button About Us
            li
              button Invest now
            li
              button Buy some crypto or whatever
            li
              button Legal stuff

    script(src="./js/starting-style.js")