* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Yrsa", serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #e4e72c;
}
