section
  section
    h1 Hi!
    h2.fragment My name is Lemon.
    p.fragment (I make websites.)
    aside.notes
      h2 I've been making websites for about 20 years. I make websites for money and I make websites for fun. I love the platform and I think it's a really great opportunity to make fun stuff.
  
  section(data-background="img/bg-savas-cyan-1.png")
    .fragment(style="padding-bottom:7vh;")
      img(src="img/savas-logo-black.svg" alt="Savas Labs" style="max-height:22vh;")

  section(data-background="img/bg-savas-cyan-2.png" data-background-transition="none")
    div(style="color:black; padding-bottom:9vh;")
      h2.dark-blue Front End Lead
      .fragment
        ul
          li Mentoring
          li Shepherding
          li Documenting