section(data-transition="convex" data-transition-speed="6000")
  section
    h1 Hi!
    h2.fragment My name is Lemon.
    p.fragment (I make websites.)
    aside.notes
      h2 I've been making websites for about 20 years. I make websites for money and I make websites for fun. I love the platform and I think it's a really great opportunity to make fun stuff.
