section

  // Predatorz (Russia) vs. Flow XL (Korea) | 2023
  +introScreen('hPU4lF2jvxo',38)
    aside.notes
      h2 Battle of the Year 2023
      p Predatorz (Russia)
      p vs
      p Flow XL (Korea)

  // Found Nation vs. Mortal Combat | 2023
  +introScreen('YDlgpkUZhL8',38)
    aside.notes
      h2 Battle of the Year 2023
      p Found nation (Japan)
      p vs
      p Mortal Kombat (?)

  
  // Ruggeeds vs Flow XL | 2023
  +introScreen('2fcgLIRHaDU',20)
    aside.notes
      h2 Battle of the Year 2023
      p The Ruggeds (Netherlands)
      p vs
      p Flow XL (Korea)

  // FLYING STEP (Germany) vs SQUADRON (USA) | 2021
  +introScreen('yBdXfKxVpV4', 83)
    aside.notes
      h2 FLYING STEP (Germany) vs SQUADRON (USA)
      p 2021

  // FLOORIORZ (Japan) vs TIE BREAK (France) | 2021
  +introScreen('EQuG0LmYGAo', 173)
    aside.notes
      h2 FLYING STEP (Germany) vs SQUADRON (USA)
      p 2021

  // BGIRL TERRA
  +introScreen('5HrrbkYJM2M',15) 
    aside.notes
      h2 Jinjo Crew (Korea)
      p 2018

  // WHITE PEOPLE CAN'T DANCE
  +introScreen('nYJyFGvnXrc', 43) 
    aside.notes
      h2 Jaja Vankova & Marie Poppins
      h2 vs Madd Chadd & Poppin John
      p 2014

  // Fantastik Armada (France) vs GAMBLER (Korea)
  +introScreen('EzglYPf7Ylk',220)
    aside.notes
      h2 BATTLE OF THE YEAR 2004
      p Fantastik Armada (France)
      p vs
      p GAMBLER (Korea)

  // PHOENIX LIL'MINI
  +introScreen('7HJOdLUi544',140)
    aside.notes
      h2 D-trix Lollicup Jam, 2017
      p Phoenix lil'Mini & Poppin Jun
      p vs
      p Zel & T.F.A

  // Factory Kingz (Latvia)
  +introScreen('qJ6U34VRN2Y',25)
    aside.notes
      h2 BATTLE OF THE YEAR 2018
      p Factory Kingz (Latvia)

  // Step Up Revolution, Final Dance
  +introScreen('qewm7AcgQO4', 20) 
    aside.notes
      h2 Step Up Revolution
      p Final Dance
  
  // Step Up All In, Electro Dance
  +introScreen('ZYZyq2bJOnA', 29) 
    aside.notes
      h2 Step Up All
      p Electro Dance