section
  section
    +demo("sample-demo.html")
  section
    +iframe("https://ahoylemon.xyz")
  section
    +image("gif/shooty-frooty.gif")
  section
    +link("https://ahoylemon.github.io/new-talk/")
      | Check out my talk template repository!