- const testing = true
include partials/_variables.pug

doctype html
html(lang="en")
  head
    include partials/_head.pug
  body  
    include partials/_mixins.pug

    .reveal
      .slides

        // Video Screens
        include sections/shared/_intros.pug

        // Personal Intro
        include sections/shared/_hello.pug

        // Talk content — replace with your slides
        include sections/_talk-content.pug

        // HMU
        include sections/shared/_hit-me-up.pug

        // Let's finish this.
        include sections/shared/_thank-you.pug
    
    include partials/_javascripts.pug 