include partials/_variables.pug

doctype html
head
  include partials/_head.pug
body  
  include partials/_mixins.pug

  .reveal
    .slides

      section(data-background-image="img/bg/pubconf.jpg" data-autoslide="0")
        section
          h2 Talk Title Goes Here

      // 1
      section
        section(data-autoslide="15000")
          p Slide 1
          aside.notes
            // Notes go here.
      
      
      // 2
      section
        section(data-autoslide="15000")
          p Slide 2

          aside.notes
            // Notes go here.
      

      // 3
      section
        section(data-autoslide="15000")
          p Slide 3

          aside.notes
            // Notes go here.


      // 4
      section
        section(data-autoslide="15000")
          p Slide 4
          aside.notes
            // Notes go here.

      // 5
      section
        section(data-autoslide="15000")
          p Slide 5
          aside.notes
            // Notes go here.


      // 6
      section
        section(data-autoslide="15000")
          p Slide 6
          aside.notes
            // Notes go here.


      // 7
      section
        section(data-autoslide="15000")
          p Slide 7
          aside.notes
            // Notes go here.


      // 8
      section
        section(data-autoslide="15000")
          p Slide 8
        aside.notes
            // Notes go here.


      // 9
      section
        section(data-autoslide="15000")
          p Slide 9
        aside.notes
            // Notes go here.


      // 10
      section
        section(data-autoslide="15000")
          p Slide 10
        aside.notes
            // Notes go here.

      // 11
      section
        section(data-autoslide="15000")
          p Slide 11
          aside.notes
            // Notes go here.


      // 12
      section
        section(data-autoslide="15000")
          p Slide 12
          aside.notes
            // Notes go here.


      // 13
      section
        section(data-autoslide="15000")
          p Slide 13
          aside.notes
            // Notes go here.


      // 14
      section
        section(data-autoslide="15000")
          p Slide 14
          aside.notes
            // Notes go here.


      // 15
      section
        section(data-autoslide="15000")
          p Slide 15
          aside.notes
            // Notes go here.

      // END SLIDE (doesn't count)
      section
        section(data-autoslide="0" data-background="#e6e924")
          h1 Thank you.
          img(src="svg/lemon.svg" style="max-width:160px; margin-top:10vh")
          aside.notes
  

    include partials/_javascripts.pug 