dt 
  button.active(data-toggle="accordion" aria-expanded="true" aria-controls="accordion1") Question #1
dd.visible(role="region" id="accordion1")
  .inside
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae volutpat tellus. Nunc id augue ut risus commodo feugiat. Quisque finibus semper egestas. Pellentesque tristique mauris dolor, vel porttitor ex scelerisque id. Nulla facilisi. Quisque finibus porttitor dui, a dapibus ex facilisis in. Sed vel ornare ipsum, non ornare sapien. Sed a faucibus urna, blandit ultrices erat. Mauris ornare porttitor mi, ullamcorper pretium magna elementum in.
    p Nulla malesuada mattis leo, nec auctor sem hendrerit nec. Duis quis aliquet diam. Duis ut vestibulum justo, non porta nulla. Donec sodales sit amet est nec scelerisque. Nulla facilisi. Mauris faucibus, lorem at condimentum iaculis, lacus justo imperdiet enim, consequat condimentum sem massa a dolor. Pellentesque rhoncus fringilla mauris id placerat. Maecenas lacinia tincidunt mi a tempor. Nullam vestibulum felis odio, sit amet bibendum massa pharetra vel.
dt 
  button(data-toggle="accordion" aria-expanded="false" aria-controls="accordion2") Question #2
dd(role="region" id="accordion2")
  .inside
    p Curabitur sit amet eros nec justo tincidunt tincidunt. Integer nec magna nec justo tincidunt vehicula. Suspendisse potenti. Proin nec libero nec metus tincidunt tincidunt. Integer at risus nec justo tincidunt tincidunt. Suspendisse potenti. Proin nec libero nec metus tincidunt tincidunt.
dt 
  button(data-toggle="accordion" aria-expanded="false" aria-controls="accordion3") Question #3
dd(role="region" id="accordion3")
  .inside
    p Phasellus euismod, justo at tincidunt tincidunt, justo justo tincidunt justo, nec tincidunt justo justo nec justo. Integer nec magna nec justo tincidunt vehicula. Suspendisse potenti. Proin nec libero nec metus tincidunt tincidunt.
    img(src="https://picsum.photos/1920/1080")
    p Donec nec magna nec justo tincidunt tincidunt. Integer nec magna nec justo tincidunt vehicula. Suspendisse potenti. Proin nec libero nec metus tincidunt tincidunt. Integer at risus nec justo tincidunt tincidunt.