@use "./partials/reset";
@use "./partials/variables" as *;

$border: 1px solid $black;
$padding: 30px 10px 10px 10px;
@mixin before() {
  position: absolute;
  top: 0;
  left: 0;
  font-family: monospace;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  color: $orange;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0;
  text-transform: lowercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  border-right: 1px solid rgba(0, 0, 0, 0.4);
}

#app {
  font-family: $font-family;
  min-height: 100dvh;
  background-color: $yellow;
  overflow: hidden;
  padding: 20px;
  display: flex;
  align-items: center;
  main {
    width: 100%;
    background-color: $white;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: $padding;
    position: relative;
    overflow: hidden;
    &:before {
      @include before();
      content: "<main>";
    }

    section {
      position: relative;
      border: $border;
      &:before {
        @include before();
        content: "<section>";
      }
      padding: $padding;
    }
    aside {
      position: relative;
      border: $border;
      &:before {
        @include before();
        content: "<aside>";
      }
      padding: $padding;
      display: grid;
      gap: 20px;
    }
    .grid {
      display: grid;
      gap: 20px;
      position: relative;
      padding: $padding;
      border: $border;
      &:before {
        @include before();
      }
      &[columns="1"] {
        grid-template-columns: repeat(1, 1fr);
        &:before {
          content: "<.grid-1>";
        }
      }
      &[columns="2"] {
        grid-template-columns: repeat(2, 1fr);
        &:before {
          content: "<.grid-2>";
        }
      }
      &[columns="3"] {
        grid-template-columns: repeat(3, 1fr);
        &:before {
          content: "<.grid-3>";
        }
      }

      .box {
        position: relative;
        min-height: 200px;
        border: $border;
        &:before {
          @include before();
          content: "<.box>";
        }
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.25em;
        letter-spacing: 0.5em;
        text-transform: uppercase;
      }
    }
  }
}

.grid {
  display: grid;
  gap: var(--gap);
  &[columns="3"] {
    grid-template-columns: repeat(3, 1fr);
  }
  &[columns="2"] {
    grid-template-columns: repeat(2, 1fr);
  }
  &[columns="2"] {
    grid-template-columns: repeat(1, 1fr);
  }
}

#app[example-number="2"],
#app[example-number="3"] {
  @media (max-width: 940px) {
    .grid[columns="3"] {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width: 700px) {
    .grid[columns="2"] {
      grid-template-columns: repeat(1, 1fr) !important;
    }
  }
  @media (max-width: 620px) {
    .grid[columns="3"] {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

#app[example-number="3"] {
  main {
    display: grid;
    grid-template-columns: 6fr 3fr;
    align-items: self-start;
  }
  section {
    &:before {
      content: "<.content>";
    }
    .box {
      min-height: 16em;
    }
  }
  aside {
    &:before {
      content: "<.ads>";
    }
  }
}

#app[example-number="4"] {
  main {
    display: grid;
    grid-template-columns: 6fr 3fr;
    align-items: self-start;

    @media (max-width: 580px) {
      grid-template-columns: 1fr;
      section {
        order: 2;
      }
      aside {
        order: 1;
      }
    }
  }
  section {
    &:before {
      content: "<.content>";
    }
    .box {
      min-height: 16em;
    }
  }

  // Example with unnamed container
  section {
    &:before {
      content: "<.content>";
    }
    container-type: inline-size;
    .grid[columns="2"] {
      @container (max-width: 560px) {
        grid-template-columns: 1fr;
      }
    }
    .grid[columns="3"] {
      @container (max-width: 600px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    .grid[columns="3"] {
      @container (max-width: 400px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  aside {
    &:before {
      content: "<.ads>";
    }
    container-type: inline-size;
    .grid[columns="2"] {
      @container (max-width: 340px) {
        grid-template-columns: 1fr;
      }
    }
  }
}

section {
  &:before {
    content: "<.content>";
  }
  container-type: inline-size;
  container-name: section-container;
  .grid[columns="2"] {
    @container section-container (max-width: 560px) {
      grid-template-columns: 1fr;
    }
  }
  .grid[columns="3"] {
    @container section-container (max-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @container section-container (max-width: 400px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
