@use "./partials/reset";
@use "./partials/variables" as *;

// Animation stuff
@keyframes appear {
  from {
    opacity: 0;
    scale: 0.25;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translateY(0);
  }
}

// @media (prefers-reduced-motion: no-preference) {
//   img {
//     animation: appear linear;
//     animation-timeline: view();
//     animation-range: entry 0 cover 35%;
//   }
// }

// Layout stuff
main {
  background-color: $yellow;
  section {
    padding: 20px;
    max-width: 820px;
    background-color: $white;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    font-size: 3em;
    text-align: center;
    padding: 1em 0;
  }
  h2 {
    font-size: 1.5em;
    text-align: center;
    padding: 3em 0;
  }

  img {
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1/1;
    border-radius: 3rem;
    box-shadow: 0 4px 16px 0 rgba(31, 38, 135, 0.18),
      0 0.75px 3px 0 rgba(0, 0, 0, 0.125);
  }
  ul {
    padding: 120px 0 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 1rem;
    justify-content: center;
  }

  li {
    list-style: none;
  }

  li:nth-child(even) {
    margin-top: 35%;
  }
  li:nth-child(odd) {
    margin-top: -35%;
  }
  img {
    background-color: lightblue;
  }

  img:nth-child(2) {
    background-color: yellow;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.25;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translateY(0);
  }
}

@keyframes disappear {
  from {
    opacity: 1;
    scale: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    scale: 0.65;
    transform: translateY(-100%);
  }
}

#app[example-number="2"] {
  @media (prefers-reduced-motion: no-preference) {
    img {
      animation: appear linear;
      animation-timeline: view();
      animation-range: entry 0 cover 35%;
    }
  }
}

#app[example-number="3"] {
  @media (prefers-reduced-motion: no-preference) {
    img {
      animation: appear linear;
      animation-timeline: view();
      animation-range: entry 0 cover 45%;
    }
    li:has(img) {
      animation: disappear linear forwards;
      animation-timeline: view();
      animation-range: exit 0 exit 45%;
    }
  }
}
