@use "./partials/reset";
@use "./partials/variables" as *;

#app {
  font-family: $font-family;
  min-height: 100dvh;
  background-color: $yellow;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  header {
    padding: 10px;
    background-color: $black;
    display: flex;
    justify-content: end;
    height: 100px;
    button {
      font-size: 2em;
      padding: 0;
      line-height: 1;
      width: 3.5rem;
      height: 3.5rem;
      text-align: center;
      cursor: pointer;
      &[aria-expanded="true"] {
        background-color: $orange;
      }
    }
  }
  main {
    min-height: calc(100dvh - 100px);
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  position: relative;
  aside {
    position: absolute;
    top: 98px;
    right: 0;
    width: 100%;
    max-width: 340px;
    background-color: $black;
    padding: 40px;
    ul {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
      list-style: none;
    }
    button {
      display: block;
      width: 100%;
      padding: 0.5em 1em;
      font-family: $font-family;
      font-size: 1em;
      cursor: pointer;
    }
    //: translateX(100%);
    //transition: transform 2s ease-out;
    &.visible {
      //transform: translateX(0);
    }
  }
}

#app[example-number="1"] {
}

#app[example-number="2"] {
  aside {
    transform: translateX(100%);
    transition: transform 2s ease-out;
    &.visible {
      transform: translateX(0);
    }
  }
}
#app[example-number="3"] {
  aside {
    transform: translateX(100%);
    transition: transform 2s ease-out;
    &.visible {
      transform: translateX(0);
    }
    @starting-style {
      transform: translateX(100%);
    }
  }
}
